* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.bloc-page {
    background-color: hsl(0, 0%, 100%);
    width: 15em;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1em;
    border-radius: 6%;
}

.qr-code {
    width: 15em;
    border-radius: 6%;
}

.text {
    margin-top: 1em;
}

.main-text {
   font-weight: 700;
   font-size: 19px; 
}

.secondary-text {
    margin: 1em 0;
    font-size: 15px;
    color: hsl(220, 15%, 55%);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}